*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingcontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landings{
    width: 90%;
    height: 70%;
}

.progress-container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.progress-para {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.skill-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.skill-row {
  width: 100%;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 5px;
}

.skill-bar {
  width: 100%;
  height: 3px;
  background: #dcdcdc;
  position: relative;
}

.skill-fill {
  height: 100%;
  background: black;
}

.second-last {
    width: 90%;
    height: 60vh;
    background-image: url(/src/assets/images/Rectangle\ 48.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .play {
        height: 70px;
        width: 70px;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        color: white;
        font-size: 25px;
        border-radius: 50%;
    }
}