.blog-page {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}
.left-section {
  width: 65%;
  padding-top: 40px;
}
.blog-content .main-image {
  width: 100%;
  height: auto;
}

.post-meta {
  margin: 10px 0;
  color: gray;
  font-size: 14px;
}

blockquote {
  border-left: 4px solid #000;
  padding-left: 15px;
  margin: 20px 0;
  font-style: italic;
}

.image-row {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.image-row img {
  width: 45%;
  height: auto;
}

.blog-nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.nav-card {
  width: 45%;
}

.direction {
  color: gray;
}

.label {
  font-weight: bold;
}


.comments-section textarea,
.comments-section input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.submit-btn {
  padding: 12px 25px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
}


.right-section {
  width: 30%;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

.about-box img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.side-box {
  margin-top: 20px;
}

.tags span {
  background: #eee;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
}



.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  color: #000;
}


.search-box input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  outline: none;
  font-size: 14px;
}

.search-box input:focus {
  border-color: #777;
}

.about-box {
  width: 100%;
  text-align: center;
}

.about-box img {
  width: 100%;
  border-radius: 4px;
}

.about-box p {
  margin-top: 8px;
  font-size: 14px;
  color: #777;
}

.side-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.side-box h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.side-box p {
  font-size: 14px;
  color: #555;
  cursor: pointer;
  transition: 0.2s;
}

.side-box p:hover {
  color: black;
  font-weight: 600;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  padding: 6px 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f7f7f7;
  cursor: pointer;
  transition: 0.2s ease;
}

.tags span:hover {
  background: black;
  color: white;
  border-color: black;
}

.pagination {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover {
  background: black;
  color: white;
}

.active-page {
  background: black;
  color: white;
}

.img-card{
    width: 100%;
    height: 400px;
   img{
       height: 100%;
       width: 100%;
       object-fit: cover;
       border-radius: 10px;
       cursor: pointer;
    }
}