* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

.landing {
    height: 110vh;
    width: 100%;
}


.arrow{
    width: 100%;
    position: relative;
    display: flex;
    top: 25%;
    font-size: 30px;
    justify-content: space-between;
    .com{
        cursor: pointer;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100px;
    }
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(/src/assets/images/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
        font-size: 50px;
    }

    p {
        width: 40%;
        color: #f9fafa;
        font-size: 20px;
        text-align: center;
    }

    button {
        margin-top: 35px;
        width: 200px;
        height: 50px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: #f9fafa;
        font-size: 15px;
        cursor: pointer;
        border: 2px solid #f9fafa;
        border-radius: 2px;
    }
}

.delivery {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: #ededed;

    h1 {
        color: rgb(92, 91, 91);
        font-size: 40px;
    }

    button {
        width: 200px;
        height: 50px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: black;
        font-size: 15px;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 2px;
    }
}

.client {
    padding: 40px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color:#efefef;
    color: black;

   .comma{
    font-size: 30px;
   }

    h1 {
        font-size: 30px;
    }

    p {
        width: 30%;
        text-align: center;
        font-size: 15px;
        color: #9b9b9b;
    }
}

.secondimage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9fafa;
}

.first {
    width: 100%;
    height: 40vh;
    background-image: url(/src/assets/images/halllamb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.text {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;

    p {
        width: 80%;
        text-align: center;
        font-size: 15px;
        color: #f9fafa;
    }

    button {
        margin-top: 35px;
        width: 200px;
        height: 50px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: #f9fafa;
        font-size: 15px;
        cursor: pointer;
        border: 2px solid #f9fafa;
        border-radius: 2px;
    }
}


.second {
    width: 100%;
    height: 60vh;
    background-image: url(/src/assets/images/hall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .play {
        height: 70px;
        width: 70px;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        color: white;
        font-size: 25px;
        border-radius: 50%;
    }
}


.twocontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.twocard {
    width: 45%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 90%;
        height: 80%;
    }
}

.twocard-text {
    margin-top: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    p {
        text-align: center;
        font-size: 13px;
    }

    h1 {
        text-align: center;
        font-size: 20px;
    }
}

.container-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 40px 0;
}

.row {
    width: 100%;
    min-height: 60vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 0 80px; */
}

.row.reverse {
    flex-direction: row-reverse;
    min-height: 60vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 1159px)  {
    .row{
      justify-content: center;
    }
    .row.reverse{
        justify-content: center;
    }
}

.text-section {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.text-section h1 {
    font-size: 32px;
    color: #000;
    font-weight: bold;
}

.text-section p {
    width: 70%;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.text-section button {
    width: 140px;
    height: 45px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
}

.image-section {
    width: 500px;
    height: 100%;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}


