.cart-page {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-title {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: black;
}


.cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    width: 100%;
    background: white;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.cart-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-name {
    font-size: 18px;
    font-weight: 600;
}

.cart-design {
    font-size: 14px;
    color: #777;
}

.cart-price {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.cart-quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-quantity button {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.cart-quantity span {
    font-size: 16px;
    font-weight: bold;
}


.remove-btn {
    background: transparent;
    border: none;
    font-size: 15px;
    color: red;
    cursor: pointer;
    font-weight: 600;
}

.cart-summary {
    margin-top: 30px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    align-self: flex-end;
    background: white;
}

.cart-summary h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cart-summary p {
    font-size: 16px;
    margin-bottom: 10px;
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout-btn:hover {
    background: #333;
}



@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-summary {
        width: 100%;
    }
}
