.features {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9fafa;
}

.scard {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    h1 {
        color: black;
        font-size: 25px;
    }

    p {
        width: 100%;
        color: rgb(99, 99, 99);
        font-size: 18px;
        text-align: center;
    }
}